<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @friend.uid %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @friend.memo %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
